/* p.user-rating >label{
    content: '★ ';
} */
/* p.user-rating > input:checked ~ label {
    color: #ffc700;    
} */
/* 
.rating {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rating:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rating:not(:checked) > label:before {
    content: '★ ';
}
.rating > input:checked ~ label {
    color: #ffc700;  
    position:absolute;  
}
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #c59b08;
} */

p.datePublished{
    margin-top: 2%;
    text-align: left;
}
.discussion {
    margin-top:2%;
    text-align: center;
}
p.username{
    margin-top: 2%;

}
