.ticket-alert {
    width: fit-content;
}

.card-input {
    background-color: #fff;
    padding: 10px;
}

.payment-form {
    width: 100%;
}

.booking-link {
    color: #fff;
}

.booking-link:hover {
    color: #B0B0B0;
}


@media screen and (min-width: 380px) {
    .num-in {
        width: 33.33333333%;
    }
}