.parent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
  
  .child {
    text-align: center;
    flex: 1 0 21%;
    margin: 5px;
    height: 100px;
  }

.rounded-circle{

    align-items: center;
}

.center{

    text-align: center
}
.btnabt {

  background-color: #000000;
  border-color:red;
  color: white;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 4px 10px;
  border-radius: 120px

}
.button2 {border-color:blue;}

.about-link {
  color: #fff;
}

.about-link:hover {
  color: #B0B0B0;
}