body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #53050D;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', sans-serif;

}

nav {
  font-family: 'Roboto', sans-serif;
  background-color: #330613;
}