h1 {
  padding: 5% !important;
  text-align: center;
}

div.table {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1mm;
  text-align: center;


}

table.openingtimes,
th {
  border: 3px solid rgb(54, 46, 46);
  border-right: 3px outset;
  border-left: 3px groove;
  font-size: 30px;
}


tr.Wednesday {
  padding: 2px;

}

td.Days {
  padding: 6px;
}

td.space {
  padding: 0;

}

p.space2 {
  padding: 5px;
}

.times-span {
  padding-right: 5px;
}

@media screen and (min-width: 600px) {
  .td.space {
    padding: 30px;
  }
}